body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

fieldSet {
    width: 300px;
    border: none;
    padding: 10;
    margin: 0;
}
.tableRow {
    display: flex;
    width: 300px;
}

.itemNumber {
    flex: 0 0 20%;
}

.listItems {
    flex: 0 0 50%;
}

.deleteButton {
    flex: 0 0 30%;
}

.ulist {
    list-style-type: none;
}
